@model KulturniCentar.ViewModels.PolaznikDodajUrediVM

<form asp-action="Snimi" asp-controller="Polaznik" enctype="multipart/form-data">
    <input asp-for="PolaznikId" hidden />
    Ime:
    <input asp-for="Ime" class="form-control" />
    Prezime:
    <input asp-for="Prezime" class="form-control" />
    Email:
    <input asp-for="Email" class="form-control" />
    Telefon:
    <input asp-for="Telefon" class="form-control" />
    Korisnicki racun:
    <select asp-for="KorisnickiRacunId" asp-items="@Model.KorisnickiRacun" class="form-control"></select>
    Slika
    <input asp-for="Slika" class="form-control" />

    <input type="submit" value="Snimi" />

</form>
