@model KulturniCentar.ViewModels.RegisterVM
@{ var poruka = TempData["Poruka"]; }

@if (poruka != null)
{
    <span asp-validation-for="LozinkaPotvrdi" class="text-danger">@poruka</span>

}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" required />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div> <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" required />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div> <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" required />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnickoIme" class="control-label"></label>
                <input asp-for="KorisnickoIme" class="form-control" required />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" type="password" class="form-control" required />
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LozinkaPotvrdi" class="control-label"></label>
                <input asp-for="LozinkaPotvrdi" type="password" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


